/* Dark mode colors. */
:root {
	--sl-color-accent-low: #450915;
	--sl-color-accent: #c50041;
	--sl-color-accent-high: #fdb1b6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edeeee;
	--sl-color-gray-2: #c1c2c2;
	--sl-color-gray-3: #8b8b8c;
	--sl-color-gray-4: #575858;
	--sl-color-gray-5: #383839;
	--sl-color-gray-6: #262727;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc6c9;
	--sl-color-accent: #c80042;
	--sl-color-accent-high: #63001c;
	--sl-color-white: #181818;
	--sl-color-gray-1: #262727;
	--sl-color-gray-2: #383839;
	--sl-color-gray-3: #575858;
	--sl-color-gray-4: #8b8b8c;
	--sl-color-gray-5: #c1c2c2;
	--sl-color-gray-6: #edeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}